* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.4;
  min-width: 320px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #477b70;
  &:visited {
    color: #477b70;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
