@import './normalize';
@import './global';
@import './debug';

.p-alert {
  color: red;
}

.p-big {
  font-size: 17px;
}

.p-bold {
  font-weight: 600;
}

.p-line {
  
}

.weight-500 {
  font-weight: 500;
}

#wrap {
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: 15px;
  min-width: 1100px;

  > div {
    padding: 14px 14px;
  }
}

.summary-wrapper {
  background-color: #fcfcfc;
  flex-shrink: 0;
  width: 260px;
}

.summary {
  display: flex;
  flex-direction: column;
  height: 95%;
  position: fixed;
  left: calc(50% - 495px); // 360 + 130 + padding
  padding: 0px 14px;
  top: 35px;
  width: 260px;

  .profile_photo {
    text-align: center;

    > img {
      border-radius: 3px;
      width: 85%;
    }
  }

  .desc {
    margin-top: 8px;

    .name {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 14px;
      text-align: center;
    }

    .meta {
    }

    .contact {
      margin-top: 8px;

      > div {
      }

      span {
        color: #555;
        display: inline-block;
        width: 60px;
        font-weight: 600;
      }
    }
  }

  .navigation {
    margin-top: 24px;

    .active {
      > span {
        font-weight: bold;
        color: #477b70;
      }
    }

    > li {
      display: inline-block;
      &:before {
        content: '|';
        margin: 0 3px;
      }
    }
  }

  .updated-at {
    font-size: 11px;
    margin-top: 10px;
  }
}

/**
 * BODY
 */
.body-wrapper {
  flex-shrink: 0;
  margin-left: 14px;
  margin-bottom: 16px;
  width: 720px;

  .head-title {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
  }

  .head-title-divider {
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 35px;
    text-align: center;
  }
}

.timeline {
  a {
    color: black;
    &:visited {
      color: black;
    }
  }

  b {
    color: #1b1b1b;
    &:visited {
      color: #1b1b1b;
    }
  }

  .timeline-entry {
    margin-bottom: 29px;
  }

  .entry-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .timeline-section {
    margin-bottom: 14px;

    .line {
      > span {
        display: inline-block;
      }
    }

    .time {
      display: inline-block;
      width: 140px;
    }
  
    .location {
    }
  
    .url {
      font-size: 12px;
    }
  
    .role {
    }
  
    .jobname {
      &:after {
        content: ',';
        margin-right: 3px;
      }
    }
  
    .desc {
      > li {
        display: flex;
        text-align: justify;
        &:before {
          content: '∙';
          margin-right: 3px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px)  {
  #wrap {
    min-width: 320px;
    padding: 0;
    display: block;

    > div {
      margin-bottom: 21px;
    }
  }

  .summary-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .summary {
    position: static;
    display: flex;
    flex-direction: column;
    height: 95%;
    padding: 0;
    width: 260px;
  }

  .body-wrapper {
    flex-shrink: 0;
    margin-left: 0px;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1100px) {
  .summary {
    display: flex;
    flex-direction: column;
    height: 95%;
    position: fixed;
    left: 55px; // 360 + 130 + padding
    padding: 0px 14px;
    top: 35px;
    width: 260px;
  }
}